{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">

            {% set gridName = 'popup-reservations-grid' %}
            {% set params = {
                'panelView': panelView,
                'start': offerItem.start,
                'end': offerItem.end
            } %}

            {{ dataGrid.renderGrid(gridName, params) }}
        </div>
    </div>
</div>