<div class="widget-content">
    <div class="row-fluid">
        <div class="responsive-block">
            {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

            {% set gridName = 'campaign-from-day-grid' %}
            {% set params = {
                panel_view_id: panel_view_id,
                current_day: day|date('Y-m-d')
            } %}

            {{ dataGrid.renderGrid(oro_datagrid_build_fullname(gridName, panel_view_id ~ day|date('Y-m-d') ), params) }}
        </div>
    </div>
</div>