<li>
    {{ 'oro.ui.created_at'|trans }}:
    {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'|trans }}
</li>
<li>
    {{ 'oro.ui.updated_at'|trans }}:
    {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'|trans }}
</li>
