{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('cb.newage.panel.entity_label'|trans, entity.panel.name) }}
            {{ ui.renderProperty('cb.newage.panel_view.name.label'|trans, entity.name) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
