{% if value == 0 %}
    <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'Free'|trans }}</div>
{% elseif value == 1 %}
    <div class="badge badge-tentatively status-tentatively"><i class="icon-status-tentatively icon-circle"></i>{{ 'Reserved'|trans }}</div>
{% elseif value == 2 %}
    <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'Confirmed'|trans }}</div>
{% endif %}

